
.search-bar{
    flex-grow: 2;
    align-self: center;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}

.search-bar-input{
   width: 60%;
   color: var(--header-text);
   background-color: var(--header);
   border: 0.5px solid var(--header-border);
   height: 37px;
   border-radius: 0.2em;
}

.logo{
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}

.logo span{
    color: white;
}

.logo img{
    height: 1.5rem;
    width: 1.5rem;
}
.search-btn{
    margin-inline-start:-5px ;
}

.my-location-btn{
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}