.site-content {
    flex-direction: column;
    background-color: var(--body);
    height: 100vh;
}

header {
    display: flex;
    min-height: 70px;
    background-color: var(--header);
    align-items: center;
    justify-content: space-between;
    color: var(--header-text);
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 1fr;
    height: 100%;
}

.curr-location-bar {
    grid-column: 1/-1;
    height: 100px;
    align-items: center;
    justify-content: space-between;

}


.map-info-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100vh;
}

.locations-cards-container {
    background-color: var(--cards-holder);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    height: 100%;
    max-height: calc(100%-500px);
    overflow-y: scroll;
}

.weather-curr-location {
    height: 800px;
}

.locations-card {
    width: 97%;
    background-color: var(--header);
    padding: 0.5em;
    border-radius: 0.5em;
}
